{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="/WIP/publish/publish-dashboard">
  Your data
</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              Choose how to add your listing
            </legend>
            <p>
              <a href="#">
                Learn about listings and the details we ask for
              </a>
            </p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="method-1" name="method" type="radio" value="web">
                <label class="govuk-label govuk-radios__label" for="method-1">
                  Complete a web form
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="method-2" name="method" type="radio" value="Upload a CSV file of metadata">
                <label class="govuk-label govuk-radios__label" for="method-2">
                  Upload a spreadsheet
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="method-3" name="method" type="radio" value="Connect a data harvester">
                <label class="govuk-label govuk-radios__label" for="method-3">
                  Connect to the Data Marketplace API
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
    
  </div>

{% endblock %}

{% block footer %}
{% include "includes/WIP_footer.html" %}
{% endblock %}