{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

<!-- fix session bug from manifest file -->
{% block headIcons %}
{% endblock %}

{% block header %}

{{ govukHeader({ productName: serviceName, classes:"govuk-header--full-width-border"}) }}

<style>
    .govuk-service-navigation__wrapper{
        flex-grow: 1;
    }
</style>

<div class="govuk-service-navigation">
    
  <div class="govuk-width-container">

    <div class="govuk-service-navigation__container">  
      
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
          <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
            Menu
          </button>

          <style>

            .app-header {
              display: flex;
              column-gap: 40px;
              align-items: center;
              margin-bottom: 0;
            }

            .app-header a {
              text-decoration: none;
            }

            .app-header-item {
              padding: 14px 0;
            }

            .app-header-search {
              flex-grow: 1;
              display: flex;
              align-items: center;
            }

            .app-header-search form {
              flex-grow: 1;
              display: flex;
              align-items: center;
              column-gap: 4px;
            }

            .app-header-search input {
              width: auto;
              flex-grow: 1;
            }

            .app-header-search button {
              margin-bottom: 0;
              margin-top: -2px;
            }

          </style>

          <div class="app-header govuk-body" id="navigation">

            <div class="app-header-item">
              <a class="govuk-link" href="#">
                Browse
              </a>
            </div>

            <div class="app-header-item app-header-search">
              <form action="/WIP/search">
                <input name="term" type="search" placeholder="Search" value="{{ term }}" class="govuk-input">
                <button class="govuk-button app-header-search-button">Search</button>
              </form>
            </div>

            <div class="app-header-item app-header-account">
              <a class="govuk-link" href="/WIP/home?loggedin=false">Account</a>
            </div>

          </div>
        </nav>
      
    </div>

    </div>

  </div>

{% endblock %}

{% block footer %}
  {% include "includes/WIP_footer.html" %}
{% endblock %}
