{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

<!-- fix session bug from manifest file -->
{% block headIcons %}
{% endblock %}

{% block header %}

{{ govukHeader({
  productName: serviceName,
  homepageUrl: "/WIP/home",
  classes:"govuk-header--full-width-border"
}) }}

{% if hidePhaseBanner %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – <a href="#">send us your feedback</a> to help improve it.'
    }) }}
  </div>
{% endif %}

<style>
    .govuk-service-navigation__wrapper{
        flex-grow: 1;
    }
</style>

{% if data.loggedin == "true" %}


    
  <div class="govuk-width-container">

    <div class="govuk-service-navigation__container">  
      
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">

          <div class="app-header govuk-body" id="navigation">

            <div class="app-header-item">
              <a class="govuk-link app-header-dropdown" data-for="browse-menu" href="#">
                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="30" height="40" class="" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
                <span class="app-header-dropdown-label">
                  Browse
                </span>
              </a>

              {% include "../_includes/browse-menu.html" %}

            </div>

            <div class="app-header-item app-header-search">
              <form action="/WIP/search">
                <input name="term" type="search" placeholder="Search" value="{{ term }}" class="govuk-input">
                <button class="govuk-button app-header-search-button">Search</button>
              </form>
            </div>

            <div class="app-header-item app-header-account">
              <a class="govuk-link app-header-dropdown" data-for="account-menu" href="#">
                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="30" height="40" class="" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
                <span class="app-header-dropdown-label">
                  Account
                </span>
              </a>
              <div class="account-menu header-submenu" id="account-menu" hidden>
                <a href="/WIP/publish/publish-dashboard">
                  Your data
                </a>
                <a href="/WIP/support/get-started">
                  Support
                </a>
                <a href="/WIP/home?loggedin=false">
                  Sign out
                </a>
              </div>
            </div>

          </div>
        </nav>
      
      </div>

    </div>


{% else %}

{% set navigationEnd %}
  <li class="govuk-service-navigation__item" style="margin-left: auto;">
    <a class="govuk-service-navigation__link" href="/WIP/sign-in">Sign in</a>
  </li>
{% endset %}

{{ govukServiceNavigation({

    navigation: [
      {
        href: "/WIP/home",
        text: "Home"
      },
      {
        href: "/WIP/support/get-started",
        text: "Support"
      }
    ],
    slots: {
        navigationEnd: navigationEnd
    }
}) }}


{% endif %}

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-!-margin-top-6" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "includes/WIP_footer.html" %}
{% endblock %}
