{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}

{{ govukHeader({ serviceName: serviceName, classes:"govuk-header--full-width-border"}) }}

<style>
    .govuk-service-navigation__wrapper{
        flex-grow: 1;
    }
</style>

{% if data['loggedin'] == 'true' %}

{% set navigationEnd %}
  <li class="govuk-service-navigation__item" style="margin-left: auto;">
    <a class="govuk-service-navigation__link" href="/WIP/home?loggedin=false">Sign out</a>
  </li>
{% endset %}

{{ govukServiceNavigation({

    navigation: [
      {
        href: "/WIP/home",
        text: "Home",
        active: true if navActive == 'Home'
      },
      {
        href: "#",
        text: "Find data",
        active: true if navActive == 'Find data'
      },
      {
        href: "#",
        text: "Data requests",
        active: true if navActive == 'Data requests'
      },
      {
        href: "#",
        text: "Your data",
        active: true if navActive == 'Your data'
      },
      {
        href: "/WIP/developer/api-keys",
        text: "API",
        active: true if navActive == 'API keys'
      },
      {
        href: "/WIP/support/get-started",
        text: "Support",
        active: true if navActive == 'Support'
      }
    ],
    slots: {
        navigationEnd: navigationEnd
    }
}) }}

{% else %}

{% set navigationEnd %}
  <li class="govuk-service-navigation__item" style="margin-left: auto;">
    <a class="govuk-service-navigation__link" href="/WIP/sign-in">Sign in</a>
  </li>
{% endset %}

{{ govukServiceNavigation({

    navigation: [
      {
        href: "/WIP/home",
        text: "Home"
      },
      {
        href: "/WIP/support/get-started",
        text: "Support"
      }
    ],
    slots: {
        navigationEnd: navigationEnd
    }
}) }}

{% endif %}

{% endblock %}
