{% extends "./_layout.html" %}

{% block pageTitle %}
	Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	<a class="govuk-back-link" href="/WIP/developer">Developer admin</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">API keys</h1>

		<p><a href="#">Get started with the Data Marketplace API</a></p>

		<div class="govuk-!-margin-top-4">
			{{ govukButton({'text': 'New API key', 'href': '/WIP/developer/create-app' }) }}
		</div>

		{% set apps = data.developer.apps %}

		<p>
			{{ apps.length }} key{{ "s" if apps.length > 1 or apps.length == 0 }}
		</p>

		{% for app in apps %}

			<div class="govuk-!-margin-bottom-4" style="border-bottom: 1px solid #b1b4b6">

				<h2 class="govuk-heading-m">
					<a href="/WIP/developer/apps/{{ app.name }}">{{ app.name }}</a>
				</h2>

				{{ govukSummaryList({
					classes: "govuk-summary-list--no-border",
					rows: [
						{
							key: {
								text: "Permissions"
							},
							value: {
								text: "Discover, Publish, Delete"
							}
						},
						{
							key: {
								text: "Expiry"
							},
							value: {
								text: "1/1/2026"
							}
						},
						{
							key: {
								text: "Environment"
							},
							value: {
								text: "Sandbox"
							}
						}
					]
				}) }}

				<p><a href="#">Revoke key</a></p>

			</div>

		{% endfor %}

	</div>
</div>

{% endblock %}