{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set navActive = 'API keys' %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">
    API credentials
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Create new API credentials</h1>

      <form class="form" action="" method="post">

        {{ govukInput({
          label: {
            text: "Name",
            classes: "govuk-label--s"
          },
          hint: {
            text: 'What will these credentials be used for? This is just for your reference.'
          },
          id: "app-name",
          name: "app-name",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukRadios({
          idPrefix: "app-environment",
          name: "app-environment",
          value: "Sandbox",
          fieldset: {
            legend: {
              text: "Environment",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Sandbox",
              text: "Sandbox",
              hint: {
                text: "Use this environment for testing."
              }
            },
            {
              value: "Production",
              text: "Production",
              hint: {
                text: "Use this environment for publishing your listings."
              }
            }
          ]
        })}}

        {{ govukCheckboxes({
          name: "app-scopes",
          fieldset: {
              legend: {
                  text: "Scopes",
                  classes: "govuk-fieldset__legend--s"
              }
          },
          items: [
              {
                  value: "Discover",
                  text: "Discover",
                  hint: {
                    text: "Search and retrieve your listings."
                  }
              },
              {
                  value: "Publish",
                  text: "Publish",
                  hint: {
                    text: "Publish and update your listings."
                  }
              },
              {
                  value: "Delete",
                  text: "Delete",
                  hint: {
                    text: "Delete your listings."
                  }
              }
          ]
          }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <p>
        <a href="/WIP/support/ipa">
          API documentation
        </a>
      </p>

    </div>
  </div>

{% endblock %}
