{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set navActive = 'API keys' %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/WIP/developer/api-keys">
    API credentials
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if changesSaved %}
        {% set html %}
          <p class="govuk-notification-banner__heading">
            Changes saved
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}

      {% endif %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">API credentials</span>
        {{ app.name }}
      </h1>

      {{ govukSummaryList({
        rows: [
            {
            key: {
                text: "Name"
            },
            value: {
                text: app.name
            },
            actions: {
                items: [
                  {
                      href: "/WIP/developer/api-key-name/" + app.name,
                      text: "Change",
                      visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
            key: {
                text: "Scopes"
            },
            value: {
                text: app.scopes | join(', ')
            },
            actions: {
                items: [
                  {
                      href: "/WIP/developer/api-key-scopes/" + app.name,
                      text: "Change",
                      visuallyHiddenText: "scopes"
                  }
                ]
              }
            },
            {
            key: {
                text: "Expiry"
            },
            value: {
                text: app['expiry-day'] + "/" + app['expiry-month'] + "/" + app['expiry-year']
            },
            actions: {
                items: [
                {
                    href: "/WIP/developer/api-key-expiry/" + app.name,
                    text: "Change",
                    visuallyHiddenText: "expiry"
                }
              ]
            }
          },
          {
            key: {
                text: "Environment"
            },
            value: {
                text: app.environment
            }
          }
        ]
      }) }}


      <p>
        <a href="/WIP/developer/api-confirm-revoke/{{ app.name }}">
          Revoke these credentials
        </a>
      </p>

      <p>
        <a href="/WIP/support/ipa">
          API documentation
        </a>
      </p>

    </div>
  </div>

{% endblock %}