{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set navActive = 'API keys' %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/WIP/developer/api-keys">API integration</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if appCreated %}
        {% set html %}
          <p class="govuk-notification-banner__heading">
            API credentials created
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}

      {% endif %}


      {% if changesSaved %}
        {% set html %}
          <p class="govuk-notification-banner__heading">
            Changes saved
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}

      {% endif %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">API credentials</span>
        {{ app.name }}
      </h1>

      {{ govukSummaryList({
        rows: [
            {
            key: {
                text: "Name"
            },
            value: {
                text: app.name
            },
            actions: {
                items: [
                  {
                      href: "/WIP/developer/api-key-name/" + app.name,
                      text: "Change",
                      visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
            key: {
                text: "Scopes"
            },
            value: {
                text: app.scopes | join(', ')
            },
            actions: {
                items: [
                  {
                      href: "/WIP/developer/api-key-scopes/" + app.name,
                      text: "Change",
                      visuallyHiddenText: "scopes"
                  }
                ]
              }
            },
            {
            key: {
                text: "Expiry"
            },
            value: {
                text: "1/1/2026"
            },
            actions: {
                items: [
                {
                    href: "/WIP/developer/api-key-expiry/" + app.name,
                    text: "Change",
                    visuallyHiddenText: "expiry"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        rows: [
          {
          key: {
              text: "Client ID"
          },
          value: {
              text: "s4uwwxidfn"
          },
          actions: {
              items: [
                {
                    html: '<button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Copy</button>'
                }
              ]
            }
          },
          {
          key: {
              text: "Client secret"
          },
          value: {
              text: "************7E54A9B"
          },
          actions: {
              items: [
                {
                    html: '<button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Copy</button>'
                }
              ]
            }
          } 
        ]
      }) }}

      {{ govukSummaryList({
        rows: [
          {
            key: {
                text: "Environment"
            },
            value: {
                text: app.environment
            }
          }
        ]
      }) }}


      <p>
        <a href="/WIP/support/ipa">
          API documentation
        </a>
      </p>

    </div>
  </div>

{% endblock %}