{% extends "WIP/_layouts/main.html" %}

{% set navActive = "Support" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">General</h2>

        <ul class="govuk-list">
            <li>
                <a href="#">
                    Get started
                </a>
            </li>
            <li>
                <a href="#">
                    Roles
                </a>
            </li>

            <li>
                <a href="#">
                    Features
                </a>
            </li>
        </ul>

        <ul class="govuk-list">

            <h2 class="govuk-heading-m">Developers</h2>

            <li>
                <a href="#">
                    API documentation
                </a>
            </li>
        </ul>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            API
        </h1>

        <p>You can use the Data Marketplace API to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>create and update metadata in the Data Marketplace’s catalogue</li>
            <li>query the Data Marketplace’s catalogue using keywords and other search terms</li>
        </ul>

        <p>To call the API, you need an API client.</p>

        <h2 class="govuk-heading-m">Create an API client</h2>

        <p>An API client is software that you and your team write to make calls against the API. You can write API client software in many programming languages, for example Python or JavaScript.</p>

        <p>Refer to the Data Marketplace OpenAPI specification to write or generate an API client.</p>

        <h2 class="govuk-heading-m">How this API is secured</h2>

        <p>This API is secured using the OAuth 2.0 Client Credentials Grant type.</p>

        <p>You’ll be able to request client credentials for 2 different environments:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Test: https://test.api.datamarketplace.gov.uk</li>
            <li>Production: https://api.datamarketplace.gov.uk</li>
        </ul>

        <p>You’ll need your client credentials to pass into the token endpoint in order to generate an access token.</p>

    </div>

</div>

{% endblock %}
