{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% set navActive = 'Home' %}


{% block main %}


{% if data['loggedin'] != "true" %}

  {% set hidePhaseBanner = true %} 

{% endif %}

{% if data['loggedin'] == "true" %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <p>
            <span class="govuk-body-l govuk-!-font-weight-bold">
              {{ totalListings | numberWithCommas }}
            </span> data listings from
            <span class="govuk-body-l govuk-!-font-weight-bold">
              {{ totalOrganisations }}
            </span> organisations
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Data requests</h2>
          <p>
            Manage the requests you’ve created or received.
          </p>
          
          <ul class="govuk-list">
            <li>
              <a href="/WIP/manage-shares?signinRoute=Manage" class="govuk-link">Data requests</a>
            </li>
          </ul>
          
        </div>

        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">List your data</h2>
          <p class="govuk-body">
            Get started listing your data on the marketplace
          </p>

          <ul class="govuk-list">
            <li>
              <a href="/WIP/publish/method" class="govuk-link">
                List your data
              </a>
            </li>
          </ul>

        </div>

      </div>

    </main>

  </div>

{% else %}

<!------------- Signed out ------------->
      
  <style>
    .govuk-service-navigation{ border-bottom: none; }
    .x-govuk-masthead{ margin-top: 0;}
  </style>
  
    <div class="x-govuk-masthead x-govuk-masthead--large">
  
      <div class="govuk-width-container">
        <div class="govuk-phase-banner x-govuk-phase-banner--inverse">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag x-govuk-tag--inverse">
              Beta
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new service – your <a href="#">feedback</a> will help us to improve it.
            </span>
          </p>
        </div>
  
        <h1 class="x-govuk-masthead__title govuk-!-margin-bottom-2">
          Data Marketplace
        </h1>
  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <p class="x-govuk-masthead__description govuk-!-margin-bottom-4">
                A place for people who work in government organisations to find, request and share data.
              </p>
  
              <p>
                The Data Marketplace is currently in private beta. 
              </p>
              
              <p>
                <a class="govuk-link" href="/WIP/support/get-started">Find out if you can use it</a> or if you have access, <a class="govuk-link" href="/WIP/sign-in">sign in</a>.
              </p>
              
          </div>
        
        </div>
  
      </div>
    </div>
  
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m">
              Find government datasets
            </h2>
            <p>
              This data is not publicly available, but you can request it in the
              Data Marketplace. This includes <a href="https://www.gov.uk/government/publications/essential-shared-data-assets-and-data-ownership-in-government">Essential Shared Data Assets</a>.
            </p>
            
          </div>
  
          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m">Request data from other organisations</h2>
            <p>
              The Data Marketplace guides you through the data request process. Answer a short,
              standardised <a href="#">set of questions</a> to submit your request.
            </p>
          </div>
  
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m">Publish your data</h2>
            <p>
              List your data in the Data Marketplace catalogue so other users can
              find and request it. You can complete a web form, or
              <a href="/WIP/support/ipa">automate your listings with our API</a>.
            </p>
            
          </div>
  
          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m">Manage data requests</h2>
            <p>
              Review and approve requests for your data from other organisations.
              You can <a href="#">assign roles</a> in your organisation
              so people only have the permissions they need.
            </p>
          </div>
  
        </div>
  
      </main>
  
    </div>

{% endif %}
    
{% endblock %}

