<div class="browse-menu header-submenu" id="browse-menu" hidden>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

      <h2 class="govuk-heading-s">
        Topics
      </h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

          <p>
            <a href="/WIP/search?topic=Business and economy">
              Business and economy
            </a>
          </p>

          <p>
            <a href="/WIP/search?topic=Crime and justice">
              Crime and justice
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Defence">
              Defence
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Education">
              Education
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Environment">
              Environment
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Government">
              Government
            </a>
          </p>
        
        </div>

        <div class="govuk-grid-column-one-half">
    
          <p>
            <a href="/WIP/search?topic=Health">
              Health
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Mapping">
              Mapping
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Society">
              Society
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Towns and cities">
              Towns and cities
            </a>
          </p>
          
          <p>
            <a href="/WIP/search?topic=Transport">
              Transport
            </a>
          </p>
        </div>

      </div>

    </div>

    <div class="govuk-grid-column-one-half">

      <h2 class="govuk-heading-s">
        Organisations
      </h2>
      
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

          <p>
            <a href="/WIP/search?organisation=Department+for+Environment%2C+Food+and+Rural+Affairs">
              Department for Environment, Food and Rural Affairs
            </a>
          </p>

          <p>
            <a href="/WIP/search?organisation=Department+for+Work+and+Pensions">
              Department for Work and Pensions
            </a>
          </p>

          <p>
            <a href="/WIP/search?organisation=Environment+Agency">
              Environment Agency
            </a>
          </p>

          <p>
            <a href="/WIP/search?organisation=Home+Office">
              Home Office
            </a>
          </p>

        </div>   

        <div class="govuk-grid-column-one-half">

          <p>
            <a href="/WIP/search?organisation=HM+Revenue+and+Customs">
              HM Revenue and Customs
            </a>
          </p>

          <p>
            <a href="/WIP/search?organisation=Ministry+of+Housing%2C+Communities+and+Local+Government">
              Ministry of Housing, Communities and Local Government
            </a>
          </p>

          <p>
            <a href="/WIP/search?organisation=NHS+Digital">
              NHS Digital
            </a>
          </p>

          <p>
            <a href="/WIP/search?organisation=Office+for+National+Statistics">
              Office for National Statistics
            </a>
          </p>

        </div>   

      </div>

    </div>

  </div>

</div>