{% extends "WIP/_layouts/main.html" %}

{% from "WIP/_macros/option-select.njk" import optionSelect %}

{% block pageTitle %}
  Find government data
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}

<form action="" method="GET" id="searchForm">

    <input type="hidden" name="term" value="{{ term }}">

    <button id="hidden-search-button" style="display: none;">Search</button>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

            {% for filter in filters %}
               
                {{ optionSelect({
                    title: filter.title,
                    checkboxes: {
                        name: filter.title | lower,
                        classes: "govuk-checkboxes--small js-auto-submit",
                        attributes: {
                            "id": filter.id
                        },
                        fieldset: {
                            legend: {
                                text: filter.title,
                                classes: "govuk-fieldset__legend--s govuk-visually-hidden"
                            }
                        },
                        items: filter.items
                    }
                }) }}

            {% endfor %}

        </div>

        <div class="govuk-grid-column-two-thirds" role="region" aria-label="Search results">

            {% if removeFilterLinks.length > 0 %}
                <div class="remove-filters">
                    {% for link in removeFilterLinks %}
                        <a href="{{ link.href }}">
                            <span class="govuk-visually-hidden">Clear filter</span>
                            {{ link.text }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="results-header">
                <div class="results-header-count govuk-!-colour-secondary">
                    <p class="govuk-!-colour-secondary" id="js-result-count">
                        {% if pagination.page > 1 %}
                            {{ pagination.resultsFrom }} to {{ pagination.resultsTo }} of 
                        {% endif %}
                        {{ count }} results
                    </p>
                </div>
                <div class="results-header-sort">
                    {{ govukSelect({
                        id: "sort",
                        name: "sort",
                        value: sort,
                        label: {
                            text: 'Sort by'
                        },
                        items: [
                          {
                            text: "Relevance",
                            value: "relevance"
                          } if term,
                          {
                            text: "Added (newest)",
                            value: "updated-newest"
                          },
                          {
                            text: "Added (oldest)",
                            value: "updated-oldest"
                          }
                        ]
                      }) }}
                    <!-- <label for="sort" class="sort-options__label govuk-label">Sort by</label>

                    <select class="js-sort-results govuk-select sort-options__select" name="sort" id="sort">
                        {% if term %}
                            <option value="relevance" {{ "selected" if sort == "relevance" }}>
                                Relevance
                            </option>
                        {% endif %}
                        <option value="updated-newest" {{ "selected" if sort == "updated-newest" }} >
                            Added (newest)
                        </option>
                        <option value="updated-oldest" {{ "selected" if sort == "updated-oldest" }} >
                            Added (oldest)
                        </option>
                    </select> -->
                </div>
            </div>

            {% if listings.length > 0 %}
                <div class="govuk-!-margin-bottom-5">
                    {% for listing in listings %}
                    <div class="govuk-!-margin-bottom-7">

                        <p class="govuk-!-margin-bottom-3">
                            <a href="/WIP/listings/{{ listing.slug | urlencode }}" class="govuk-!-font-weight-bold govuk-link">
                                {{ listing.title }}
                            </a>
                        </p>

                        <p class="govuk-!-margin-bottom-3 govuk-!-colour-secondary">
                            {{ listing.organisation }}
                        </p>

                        <div class="govuk-!-margin-bottom-4">

                        {% if listing.type | includes('Dataset') and listing.type | includes('API') %}

                                {{ govukTag({
                                    'text': 'Dataset',
                                    classes: "govuk-tag--grey govuk-!-font-size-16"
                                })}}
                                {{ govukTag({
                                    'text': 'API',
                                    classes: "govuk-tag--grey govuk-!-font-size-16"
                                })}}


                        {% elseif listing.type == "API" %}

                                {{ govukTag({
                                    'text': 'API',
                                    classes: "govuk-tag--grey govuk-!-font-size-16"
                                })}}
        

                        {% elseif listing.type == "Dataset" %}

                            
                                {{ govukTag({
                                    'text': 'Dataset',
                                    classes: "govuk-tag--grey govuk-!-font-size-16"
                                })}}
                            

                        {% endif %}

                        {% if listing.access == "On request" %}

                            
                                {{ govukTag({
                                    'text': 'Access on request',
                                    classes: "govuk-tag--grey govuk-!-font-size-16"
                                })}}
                            

                        {% endif %}

                    </div>

                        <!-- <p class="govuk-!-display-inline">
                            {% for distribution in result.distributions %}
                                <strong class="govuk-tag govuk-tag--grey">{{ distribution }}</strong>
                            {% endfor %}
                        </p> -->
                        
                        <div class="govuk-!-margin-bottom-0 govuk-!-margin-top-1">
                            <p class="govuk-!-font-size-16">
                                {{ listing.summary | truncate(280) }}
                            </p>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>

                {% if pagination.next %}

                    {{ govukPagination({
                        next: {
                            text: "Next page",
                            href: pagination.next.href
                        }
                    }) }}

                {% endif %}
                
            {% else %}
            <div class="no-results govuk-!-font-size-19"> 
                <p class="govuk-body govuk-!-font-weight-bold">There are no matching results.</p>
                 <p class="govuk-body">Improve your search results by:</p> 
                 <ul class="govuk-list govuk-list--bullet"> 
                    <li>removing filters</li> 
                    <li>double-checking your spelling</li> 
                    <li>using fewer keywords</li> 
                    <li>searching for something less specific</li> 
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

</form>

{% endblock %}


{% block pageScripts %}
    <script src="/public/javascripts/option-select.js"></script>
    <script>
        document.querySelectorAll('[data-module="option-select"]').forEach(function(element) {
            new GOVUK.Modules.OptionSelect(element).init()
        })
        var checkboxes = document.querySelectorAll("#searchForm input[type='checkbox']")
        var searchButton = document.querySelector("#hidden-search-button")

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener("change", function() {
            searchButton.click()
            })
        }

        var sort = document.querySelector('#sort')

        sort.addEventListener('change', (event) => {
            searchButton.click()
        })
    </script>
{% endblock %}
