{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  {{ listing.title }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-6"
  }) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-caption-xl">
      {{ listing.type }}
    </p>
    <h1 class="govuk-heading-xl">
        {{ listing.title }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div style="word-wrap: break-word; overflow-wrap: break-word;">
      {{ listing.summary | govukMarkdown | safe }}
    </div>

    {{ govukSummaryList({
      classes: "govuk-summary-list--no-border",
      rows: [
        {
          key: {
            text: "Organisation"
          },
          value: {
            text: listing.organisation
          }
        },
        {
          key: {
            text: "First published"
          },
          value: {
            text: listing.firstPublished
          }
        },
        {
          key: {
            text: "Update frequency"
          },
          value: {
            text: listing.updateFrequency or "Not known"
          }
        },
        {
          key: {
            text: "Licence"
          },
          value: {
            text: listing.licenceName or "Not known"
          }
        }
      ]
    }) }}

    {% if listing.access == "Open" %}

      {% if listing.links.access.length > 0 %}

        <h2 class="govuk-heading-m">
          Data links
        </h2>

        <ul class="govuk-list" id="accessLinks">
          
          {% for link in listing.links.access %}

            <li class="govuk-!-margin-bottom-4 {% if loop.index > 10 %}additional-link hidden{% endif %}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
            </li>

          {% endfor %}

        </ul>

        {% if listing.links.access.length > 10 %}

          {{ govukButton({
            text: 'Show more',
            classes: "govuk-button--secondary toggle-links-button",
            attributes: {
              'data-for': 'accessLinks'
            }
          })}}

        {% endif %}

      {% endif %}

      {% if listing.links.downloads.length > 0 %}

      <h2 class="govuk-heading-m">
        Downloads
      </h2>

      <dl class="govuk-summary-list govuk-summary-list--no-border" id="downloadLinks">
        
        {% for link in listing.links.downloads %}

        <div class="govuk-summary-list__row {% if loop.index > 10 %}additional-link hidden{% endif %}">
          <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            {{ link.format }}
          </dd>
        </div>

        {% endfor %}

        </dl>

        {% if listing.links.downloads.length > 10 %}

          {{ govukButton({
            text: 'Show more',
            classes: "govuk-button--secondary toggle-links-button",
            attributes: {
              'data-for': 'downloadLinks'
            }
          })}}

        {% endif %}

      {% endif %}

    {% endif %}


    {% if listing.access != "Open" and listing.type == "Dataset" %}

      <h2 class="govuk-heading-m">
        Request this data
      </h2>

      <p>
        This data contains sensitive information and requires a data share agreement
        with {{ listing.organisation }}.
      </p>

      <p>
        <a href="/WIP/support/request">Learn about requesting restricted data</a>
      </p>

      <p>
        {{ govukButton({
          text: "Start a data request",
          href: "/WIP/request/task-list?shareTitle=" + listing.title + "&shareOrg=" + listing.organisation
        })}}
      </p>

    {% endif %}
<!-- 
    <h2 class="govuk-heading-m">
      Related
    </h2>
    
    <p>
      <a href="#">Rents: Average weekly LA rents (API)</a>
    </p> -->

    {% if listing.type == "API" %}

      <h2 class="govuk-heading-m">
        API documentation
      </h2>

      {% if listing.access != "Open" %}

        <p>
          This API requires approval before usage.
        </p>

      {% endif %}

      <p>
        You can access this data using an API. <a href="#">Find out more about APIs.</a>
      </p>

      <p>
        <a href="{{ listing.apiDocumentation }}">
          API documentation on the supplier’s website
        </a>
      </p>

    {% endif %}

    {% if listing.contactEmail %}
  
      <h2 class="govuk-heading-m">
        Contact
      </h2>

      <p>
        For questions about this data contact:
      </p>

      <p>
        <a href="#">
          {{ listing.contactEmail }}
        </a>
      </p>
    {% endif %}

    <p class="govuk-!-margin-top-4">
      This page was last updated {{ listing.listingUpdated | govukDate }}.
    </p>
  
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      More from this organisation
    </h2>

    <p class="govuk-!-font-size-16">
      <a href="/WIP/search?organisation={{ listing.organisation }}">
        {{ listing.organisation }}
      </a>
    </p>
    {% if similar.length > 0 %}
      <h2 class="govuk-heading-m">Related data</h2>
    {% endif %}
    {% for listing in similar %}
      <p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">
        <a href="/WIP/listings/{{ listing.slug}}">
          {{ listing.title }}
        </a>
      </p>
      <p class="govuk-!-colour-secondary govuk-!-font-size-16">
        {{ listing.organisation }}
      </p>
      <p class="govuk-visually-hidden">
        Score: {{ listing.similarity }}
      </p>
    {% endfor %}

  </div>

{% endblock %}