{% extends "WIP/_layouts/support.html" %}

{% set navActive = "Support" %}

{% block supportContent %}


        <h1 class="govuk-heading-l">
            Get started
        </h1>

        <p>The Data Marketplace is for people who work in government organisations. It allows you to find and request government data that is not available to the public.</p>

        <p>Visit <a href="https://data.gov.uk">data.gov.uk</a> to find data that’s already in the public domain, and can be accessed by anyone.</p>

        <p>This is a new service. It’s still in private beta, and is only available to central government departments and some other organisations.</p>

        <h2 class="govuk-heading-m">
            Create an account
        </h2>

        <p>You need an account in order to access the data catalogue and other features in the Data Marketplace.</p>

        <p>To set up your account, you must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>be a government employee</li>
            <li>have a government email address</li>
        </ul>

        <p>Go to the <a href="/WIP/sign-in">sign in page</a>, enter your email address and continue.</p>

        <p>You’ll then go through your regular government sign-in process.</p>

        <p>You can also <a href="/WIP/support/roles">request additional roles</a> for your account to approve data requests or publish metadata records.</p>


        <h2 class="govuk-heading-m">Start using the Data Marketplace</h2>

        <p>Once you’ve signed in, you can <a href="">explore the data catalogue</a> and find data you’re interested in.</p>


{% endblock %}
