{% extends "WIP/_layouts/main.html" %}

{% set navActive = "Support" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

        <ul class="govuk-list">
            <li>
                <a href="#">
                    Get started
                </a>
            </li>
            <li>
                <a href="#">
                    Roles
                </a>
            </li>

            <li>
                <a href="#">
                    Features
                </a>
            </li>
        </ul>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Get started
        </h1>

        <p>This service is for people who work in government organisations.</p>

        <p>It allows you to find and request government data that is not available to the public.</p>

        <p>Visit <a href="https://data.gov.uk">data.gov.uk</a> to find data that’s already in the public domain, and can be accessed by anyone.</p>

        <h2 class="govuk-heading-m">
            Create an account
        </h2>

        <p>You need an account in order to access the data catalogue and other features in the Data Marketplace.</p>

        <p>To set up your account, you must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>be a government employee</li>
            <li>have a government email address</li>
        </ul>

        <p>Go to the <a href="/WIP/sign-in">sign in page</a>, enter your email address and continue.</p>

        <p>You’ll then go through your regular government sign-in process</p>

        <p>You can also <a href="/WIP/support/roles">request additional roles</a> for your account to approve data requests or publish metadata records.</p>


        <h2 class="govuk-heading-m">Start using the Data Marketplace</h2>

        <p>Once you’ve signed in, you can <a href="">explore the data catalogue</a> and find data you’re interested in.</p>

    </div>

</div>

{% endblock %}
