{% extends "WIP/_layouts/support.html" %}

{% set navActive = "Support" %}

{% block supportContent %}


        <h1 class="govuk-heading-l">
            Details for your listing
        </h1>

{% set markdownContent %}

Find out what information you need to provide, why we ask for this, and why it’s important that your listings are of a high standard.

**On this page**

- [Create clear, helpful listings](?tab=t.8km0fxz2kngh#bookmark=kix.vcpgeodwcz3t)  
- [Details you must provide](?tab=t.8km0fxz2kngh#bookmark=kix.kuartbwphnm7)  
  - [Type of data you are listing](?tab=t.8km0fxz2kngh#bookmark=kix.qpvlr5wev8ye)  
  - [Security classification](?tab=t.8km0fxz2kngh#bookmark=kix.1llh8e9b6jxz)  
  - [Title](?tab=t.8km0fxz2kngh#bookmark=kix.jwobkrlxbzie)  
  - [Description](?tab=t.8km0fxz2kngh#bookmark=kix.sfva80438522)  
  - [Reference](?tab=t.8km0fxz2kngh#bookmark=kix.goip6cujm73j)  
  - [Themes](?tab=t.8km0fxz2kngh#bookmark=kix.fvjd6yyg0lmq)  
  - [Keywords](?tab=t.8km0fxz2kngh#bookmark=kix.saiql964eu2x)  
  - [Point of contact](?tab=t.8km0fxz2kngh#bookmark=kix.p377rjcqfdp1)  
  - [Data owner](?tab=t.8km0fxz2kngh#bookmark=kix.pi56v8i7tnll)  
  - [Date first made available](?tab=t.8km0fxz2kngh#bookmark=kix.1d11sxjejaaf)  
  - [Frequency of update](?tab=t.8km0fxz2kngh#bookmark=kix.tfsjka82na9f)  
  - [Public or restricted data](?tab=t.8km0fxz2kngh#bookmark=kix.wi7hawawlw0a)  
- [Other details that we record](?tab=t.8km0fxz2kngh#bookmark=kix.6bvlxxnhr0v2)  
  - [Data Marketplace ID](?tab=t.8km0fxz2kngh#bookmark=kix.c5xt3jo4f2it)  
  - [Status](?tab=t.8km0fxz2kngh#bookmark=kix.s33mngdvpck5)  
  - [Date the listing was created](?tab=t.8km0fxz2kngh#bookmark=kix.fytev5aop8jy)  
  - [Date the listing was last modified](?tab=t.8km0fxz2kngh#bookmark=kix.dxpmo6eyry5)

## Create clear, helpful listings

It’s important that your listings help other users understand what your data
is about, what’s in it and why it may be useful to them. This helps users find
your data, and should reduce the number of queries you receive.

Your listing should be:

* clear  
* accurate  
* up to date

## Details you must provide

### **Type of data you’re listing**

You’ll need to confirm that your listing is for a data set.

Currently, you can only add listings that describe data sets. In the future, you’ll be able to add listings for APIs and other data services.

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            More on data sets, APIs and other data services
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>
            A data set is an individual, structured collection of data that can
            be accessed in one or more representations. Data comes in numbers,
            text, pixels, imagery, sound and other multimedia – any of of which
            might be collected into a data set.
        </p>
        <p>
            A data service provides a way to access data sets – for example,
            through an Application Programming Interface (API) or
            File Transfer Protocol (FTP).
        </p>
        <p>APIs are the most common type of data service.</p>
    </div>
</details>

### **Security classification**

You must confirm that the data in your data set has an [OFFICIAL classification](https://www.gov.uk/government/publications/government-security-classifications/government-security-classifications-policy-html#definitions-for-official-secret-and-top-secret). The Data Marketplace does not contain listings of data that has a SECRET or TOP SECRET classification.

The OFFICIAL classification covers data for most of the day-to-day business of government, service delivery, commercial activity and policy development.

You can include listings of data that has an [OFFICIAL-SENSITIVE marking](https://www.gov.uk/government/publications/government-security-classifications/government-security-classifications-policy-html#additional-markings) but not SECRET or TOP SECRET data because this requires bespoke protection.

### **Title**

The title of your listing should meaningfully describe what the data is.

Your title will usually be the first thing a user sees in your listing, so it should be:

* clear – use plain English and avoid acronyms or technical jargon  
* unique – consider including a version number or date range to identify the data set  
* consistent with the naming convention of similar data sets – for example, if you have a listing for ‘Student exam results in England, 2022-23’, for the following year use ‘Student exam results in England, 2023-24’


Examples of a good title:

A title like ‘Exam results for year 11 pupils in England and Wales, 2020-2022’
is better than ‘Educational Attainment’.

Other examples:

 - ‘UK River Water Quality Monitoring Results - 2021’
 - ‘Annual Inflation Rates and Consumer Price Index (2000-2022)’

### **Description**

Your description should explain what the data is about and what’s in it.

Help users understand what the main attributes are. This should reduce the number of queries you’ll receive because users will have a better idea of the data and whether it will meet their needs.

Your description should:

* not repeat the title  
* be in plain English  
* start with the most important information because this will be used as a summary in search results  
* set out the main entities and attributes in the data  
* explain other useful details about the data – for example, why the data was collected, what it measures or how it could be used

Example of a good description:

> The Annual Business Survey (ABS) includes data about the income (eg total turnover and environmental turnover of businesses), expenditure (eg employment costs, costs of energy, materials, goods and services) and international trade in services and goods (eg income from services provided to individuals, enterprises or other organisations based outside the UK).

### **Reference**

Your reference is whatever you use to identify the data set in your organisation’s system or data catalogue. It will help you link the listing in the Data Marketplace with the information in your own system.

For example, you might have given this data set a unique:

* number  
* code  
* URI (Uniform Resource Identifier)

### **Themes**

Associate the data set with one or more themes to help users understand what topics the data broadly relates to – for example, education or energy.

Users can filter by theme when searching the Data Marketplace catalogue.

| \> Themes you can select  Agriculture, fisheries and forestry Business, economics and finance Crime and justice Culture, leisure and sport Education Energy Environment and nature Geography Government and public sector Health and care Population and society Science and technology Transport and infrastructure 	Or None of the above  |
| :---- |

### **Keywords**

Adding keywords will help users find your data set if they search for terms that do not appear in your title or description.

Each keyword should be:

* relevant to what your data is about  
* a word or phrase – for example, ‘schools’ or ‘exam results’  
* a noun rather than a verb – ‘fermentation’ not ‘fermenting’

| \> Examples of good keywords  You might have a data set titled ‘UK Border Crossing’. If the data concerns any of the topics below, typical keywords might include: airport seaport railport UK border passport passport numbers daily border crossings monthly border crossings |
| :---- |

### **Point of contact**

You must provide the name and email address of the team or individual that will respond to queries about, or requests for, this data set.

You can choose which, but a team is usually better if there are several people who can respond. If you’re providing an individual, include their first and last name.

Other Data Marketplace users will be able to see these details.

### **Data owner**

A data owner is someone that is accountable for the data, including how it’s defined and managed. Find out more about the [role of data owners](https://www.gov.uk/government/publications/essential-shared-data-assets-and-data-ownership-in-government/data-ownership-in-government-html) in government.

Some organisations have a dedicated data owner role. In others, this role is played by an [Information Asset Owner (IAO)](https://www.gov.uk/government/publications/information-asset-owner-role-guidance).

You must provide the name and email address of the owner of the data set. Other Data Marketplace users will not be able to see these details – they are only visible to publishers in your organisation.

| \> More on data owners and IAOs  Data owners and IAOs are often senior figures in an organisation, and they tend to be different from the point of contact. For example, there may be different teams in your organisation that respond to queries about different data sets, all of which may be owned by a single data owner or IAO. |
| :---- |

### **Date first made available**

This refers to when the data set was first published in your organisation’s data catalogue, or made publicly available (if applicable).

Providing this date will help users assess the currency of the data.

Even if your data set is updated frequently – for example, daily or hourly – you should still provide the date when it started being issued.

### **Frequency of update**

This refers to the expected interval between updates to the data set.

Knowing this can help users understand when the data set may be republished.

| \> Options for update frequency  Never – select this if the data set is a ‘one off’ and you do not expect to update it Daily Weekly Monthly Quarterly Yearly 	or I don’t know Other – you can enter a custom time period, for example ‘hourly’ or ‘every 3 years’ |
| :---- |

### **Public or restricted data**

You can add listings of data that is:

* public – anyone can access the data set  
* restricted – the data set requires a data share agreement

#### Listing public data

Select a licence for how the data can be used, if you know this.

The options are:

* [Open Government Licence](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/)  
* Not known  
* Other – you can enter a custom licence

You must then provide one or more links to access the data, wherever it’s hosted.

Each link can be to download a file directly, or to a webpage that contains the data.

If the link is to download a file, you also need to provide a:

* link title to describe that distribution  
* file format  
* file size

#### Listing restricted data

When you list a restricted data set for your organisation, other Data Marketplace users have an option to request it.

You must be prepared to:

* review requests for that data set  
* provide access to the data if you approve the request

You can choose to specify one or more formats in which you can supply the data. This will help users understand how the data may be shared.

## Other details that we record

There are some other details that the Data Marketplace system captures for each listing.

### **Data Marketplace ID**

This is the unique reference that identifies each listing in the Data Marketplace. The system creates this ID when you add a new listing.

It will look like this example:

| c5ca73b8-f149-48e4-8f74-b5d2e829632c |
| :---- |

Do not confuse this ID with [your reference](?tab=t.8km0fxz2kngh#bookmark=kix.goip6cujm73j). We collect your reference so that you can link your listings in the Data Marketplace with the records you keep in your own catalogue or system.

### **Status**

At any time, your listing will be in one of 3 states:

* **draft** – the listing has been created or updated, but has not yet been published in the Data Marketplace catalogue  
* **published** – the listing is live in the Data Marketplace catalogue  
* **unpublished** – the listing has been archived and is no longer visible in the Data Marketplace catalogue, but your organisation can see a record of it

Whenever you create, publish, update or unpublish a listing, the system will change its status. You can also choose to delete a listing entirely.

### **Date the listing was created**

This is the date when your listing is first added to the Data Marketplace.

The system will automatically record the date and time when you create a new listing.

### **Date the listing was last modified**

This is the last date when a change was made to a listing – for example, if you saved a new description or updated your point of contact.

It does not refer to changes in the data set itself.


{% endset %}
    
    <div class="govuk-body">

        {{ markdownContent | markdown | safe }}

    </div>

{% endblock %}
