{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="/WIP/request/dashboard">
    Your data requests
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        <!-- {% include "includes/request/request-id.html" %} -->
         Draft request
      </span>
      <h1 class="govuk-heading-l">
        {{ data['shareTitle'] }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-margin-bottom-2">
        5 sections to complete
      </p>

      {% set path = "/WIP/request" %}

      <h2 class="govuk-heading-m">
        1. Purpose of the data share
      </h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Data type"
            },
            href: path + "/data-type",
            status: {
              text: "Done"
            }
          },
          {
            title: {
              text: "Data subjects"
            },
            href: path + "/data-subjects",
            status: {
                text: "Done"
            } if data['data-subjects'] else {
              tag: {
                text: "To do"
               }
            }
          
          },
          {
            title: {
              text: "Project aims"
            },
            href: path + "/project-aims",
            status: {
                text: "Done"
            } if data['project-aims'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Data required"
            },
            href: path + "/data-required",
            status: {
                text: "Done"
            } if data['data-required'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Benefit to public"
            },
            href: path + "/benefit-public",
            status: {
                text: "Done"
            } if data['benefit-public'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Other organisations accessing the data"
            },
            href: path + "/other-orgs",
            status: {
                text: "Done"
            } if data['other-orgs'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Impact if data not given"
            },
            href: path + "/impact",
            status: {
                text: "Done"
            } if data['impact'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Date required"
            },
            href: path + "/date-required",
            status: {
                text: "Done"
            } if data['date-required'] else {
              tag: {
                text: "To do"
               }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        2. Legal power and gateway
      </h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Legal power"
            },
            href: path + "/legal-power",
            status: {
              text: "Done"
            } if data['legal-power'] else {
              tag: {
                text: "To do"
              }
            }
          },
          {
            title: {
              text: "Legal review"
            },
            href: path + "/legal-review",
            status: {
              text: "Done"
            } if data['legal-review'] else {
              tag: {
                text: "To do"
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        3. Data protection
      </h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Point of contact"
            },
            href: path + "/contact",
            status: {
              text: "Done"
            } if data['contactName'] else {
              tag: {
                text: "To do"
              }
            }
          },
          {
            title: {
              text: "Owner"
            },
            href: path + "/owner",
            status: {
              text: "Done"
            } if data['ownerName'] else {
              tag: {
                text: "To do"
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Additional information
      </h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Date first made available"
            },
            href: path + "/date-published",
            status: {
              text: "Done"
            } if data['datePublished-day'] else {
              tag: {
                text: "To do"
              }
            }
          },
          {
            title: {
              text: "Update frequency"
            },
            href: path + "/frequency",
            status: {
              text: "Done"
            } if data['frequency'] else {
              tag: {
                text: "To do"
              }
            }
          },
          {
            title: {
              text: "Public or restricted data"
            },
            href: path + "/access",
            status: {
              text: "Done"
            } if data['access'] else {
              tag: {
                text: "To do"
              }
            }
          },
          {
            title: {
              text: "Licence"
            },
            href: path + "/licence",
            status: {
              text: "Done"
            } if data['licence'] else {
              tag: {
                text: "To do"
              }
            }
          } if data['access'] == "Public",
          {
            title: {
              text: "Links"
            },
            href: path + "/links",
            status: {
              text: "Done"
            } if data['links'] else {
              tag: {
                text: "To do"
              }
            }
          } if data['access'] == "Public",
          {
            title: {
              text: "Formats"
            },
            href: path + "/formats",
            status: {
              text: "Done"
            } if data['formats'] else {
              tag: {
                text: "To do"
              }
            }
          } if data['access'] == "Restricted"
        ]
      }) }}


    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">
        Organisation
      </h2>
      <p>
        {{ data['shareOrg'] }}
      </p>
      <h2 class="govuk-heading-s">
        Request ID
      </h2>
      <p>
        ABCD1234
      </p>
      <h2 class="govuk-heading-s">
        Get help with your request
      </h2>
      <p>
        <a href="#">
          help@dsne.gov.uk
        </a>
      </p>
    </div>
  </div>

{% endblock %}
