{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form REQUEST-add-another" action="030-how-impact-cat" method="post">
      <div class="govuk-form-group">
        <span class="govuk-caption-l">{% include "includes/request/request-id.html" %}</span>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="other-orgs">
            Which other organisations will access the data?
          </label>
        </h1>
      </div>

      {%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
      {%- from "govuk/components/input/macro.njk" import govukInput -%}

      <div data-module="moj-add-another">
        {% call govukFieldset({
          classes: 'moj-add-another__item'
        }) %}
        {{ govukInput({
          id: 'anotherOrg[0]',
          name: 'anotherOrg[0]',
          classes: 'govuk-input--width-20',
          label: {
            html: 'Enter country',
            classes: 'govuk-visually-hidden'
          },
          attributes: {
            'data-name': 'anotherOrg[%index%]',
            'data-id': 'anotherOrg[%index%]'
          }
        }) }}
        {% endcall %}

        <p><a href="#1" class="govuk-link moj-add-another__add-button govuk-!-margin-bottom-4" style="display: inline-block;">Add another organisation</a></p>

        <br>
        <br>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
           }) }}
           {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            attributes: {
              formaction: "/WIP/request/task-list"
            }
           })}}
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "includes/WIP_footer.html" %}
{% endblock %}
