{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="/WIP/request/personal-data-answer">

                {{ govukRadios({
                    name: 'personal-data',
                    fieldset: {
                        legend: {
                            text: 'Do you need personal data?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'This is information that could identify an individual, directly or indirectly. For example their name, location or physical characteristics.'
                    },
                    items: [
                        { value: 'Yes', text: 'Yes'},
                        { value: 'No', text: 'No'}
                    ]
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                    {{ govukButton({
                        text: "Save and return",
                        classes: "govuk-button--secondary",
                        attributes: {
                            formaction: "/WIP/request/task-list"
                        }
                    })}}
                </div>

            </form>

        </div>

        <div class="govuk-grid-column-one-third">

            <h2 class="govuk-heading-m">
              More information
            </h2>
 
            <p>
              <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/personal-information-what-is-it/what-is-personal-data/what-is-personal-data/">
                Learn more about personal data
              </a>
            </p>
          </div>
            
        </div>
      
    </div>

{% endblock %}


