{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
Description
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['check-answers'] == "true" %}
        <form class="form" action="/WIP/request/check-answers" method="post">
        <input type="hidden" name="check-answers" value="false">
      {% else %}
        <form class="form" action="/WIP/request/benefit" method="post">
      {% endif %}

        <h1 class="govuk-heading-l">
          Your project
        </h1>

        {{ govukTextarea({
          label: {
            text: "What is your project about?",
            classes: "govuk-label--s"
          },
          id: "project",
          name: "project",
          rows: 6,
          hint: {
            html: ""
          },
          value: data['project']
        }) }}

        {{ govukTextarea({
            label: {
              text: "How will the data help you achieve this?",
              classes: "govuk-label--s"
            },
            id: "project-data",
            name: "project-data",
            rows: 4,
            hint: {
              html: ""
            },
            value: data['project-data']
          }) }}

          {{ govukTextarea({
            label: {
              text: "What would happen if you did not get the data?",
              classes: "govuk-label--s"
            },
            id: "project-no-data",
            name: "project-no-data",
            rows: 4,
            hint: {
              html: ""
            },
            value: data['project-no-data']
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
             }) }}
             {{ govukButton({
              text: "Save and return",
              classes: "govuk-button--secondary",
              attributes: {
                formaction: "/WIP/request/task-list"
              }
             })}}
          </div>
        
      </form>

    </div>
    
  </div>

{% endblock %}

