{% extends "WIP/_layouts/main.html" %}

{% block pageTitle %}
  Draft data request - {{ data['shareTitle'] }}
{% endblock %}


{% block beforeContent %}

    <a class="govuk-back-link" href="#">Your data requests</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Draft data request
      </span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        {{ data['shareTitle'] }}
      </h1>
      <p class="govuk-!-margin-bottom-6">
        <a href="#">View listing</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- {{ govukButton({
            text: 'Invite collaborator',
            classes: 'govuk-button--secondary'
        })}} -->

      {% set path = "/WIP/request" %}

      <h2 class="govuk-heading-m">
        1. Your project
      </h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Your project"
            },
            href: path + "/project",
            status: {
                text: "Done"
            } if data['project'] and data['project-data'] and data['project-no-data'] else {
              tag: {
                text: "To do"
               }
            }
          
          },
          {
            title: {
              text: "Benefit to the public"
            },
            href: path + "/benefit",
            status: {
                text: "Done"
            } if data['benefit'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Other organisations involved"
            },
            href: path + "/other-orgs",
            status: {
                text: "Done"
            } if data['other-orgs'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Date required"
            },
            href: path + "/date-required",
            status: {
                text: "Done"
            } if data['date-required'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Personal data"
            },
            href: path + "/personal-data",
            status: {
                text: "Done"
            } if data['personal-data'] else {
              tag: {
                text: "To do"
               }
            }
          },
          {
            title: {
              text: "Data stored outside the UK"
            },
            href: path + "/outside-uk",
            status: {
                text: "Done"
            } if data['outside-uk'] else {
              tag: {
                text: "To do"
               }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        2. Legal, data protection and security review
      </h2>

      <p>
        You need to send your answers to specialists in your organisation, to help them answer the remaining questions below.
      </p>
      
      {{ govukButton({
        text: 'Download your answers',
        classes: 'govuk-button--secondary'
      })}}

      <h2 class="govuk-heading-m">
        Legal
      </h2>

      {{ govukTaskList({
        items: [
        {
            title: {
              text: "Legal power"
            },
            href: path + "/legal-power",
            status: {
                text: "Done"
            } if data['legal-power'] else {
              tag: {
                text: "To do"
               }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Data protection
      </h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Lawful  basis for personal data"
            },
            href: path + "/lawful-basis",
            status: {
              text: "Done"
            } if data['lawful-basis'] else {
              tag: {
                text: "To do"
              }
            }
          },
          {
            title: {
              text: "Role of organisation"
            },
            href: path + "/role-of-org",
            status: {
              text: "Done"
            } if data['role-of-org'] else {
              tag: {
                text: "To do"
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Data security
      </h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Data storage and disposal"
            },
            href: path + "/data-storage",
            status: {
              text: "Done"
            } if data['data-storage'] else {
              tag: {
                text: "To do"
              }
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Review and submit",
          href: "/WIP/publish/manual/check-answers"
        }) }}
      

      <p>
        <a class="govuk-link" href="#">Delete draft</a>
      </p>

    </div>


    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">
          Data supplier
        </h2>
        <p>
          {{ data['shareOrg'] }}
        </p>
        <h2 class="govuk-heading-s">
          Support
        </h2>
        <p>
          <a href="/WIP/support/request">
            Learn about requesting restricted&nbsp;data
          </a>
        </p>
        <p>
          <a href="#">
            help@datamarketplace.gov.uk
          </a>
        </p>
        <h2 class="govuk-heading-s">
          Request ID
        </h2>
        <p>
          ABCD1234
        </p>
      </div>

  </div>

{% endblock %}
